QLineEdit {
    border-radius: 5px; /* 设置圆角半径 */
    border: 1px solid #cccccc; /* 设置边框 */
    padding: 0px; /* 设置内边距 */
    color: #333333; /* 设置字体颜色 */
}

QLineEdit:focus {
    border-color: #66afe9; /* 设置获得焦点时的边框颜色 */
         border-width: 2px; /* 设置边框宽度为2px */
    outline: 0; /* 去除焦点时的默认样式 */
    padding-top: 1px;
    padding-bottom: 1px;
    padding:1px;
}
